<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="button" value="切换显示状态" @click="toggleIsShow">
        <!-- 操作的是dom元素 -->
        <p v-if="isShow">黑马</p>
        <!-- 频繁出现用v-show,操作的是样式 -->
        <p v-show="isShow">黑马--v-show修饰</p>
        <p v-if="temperature>=35">热死啦</p>
        <!-- 为真显示，为假不显示 -->

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                isShow: false,
                temperature:40
            },
            methods: {
                toggleIsShow: function () {
                    this.isShow = !this.isShow;//取反
                }
            },
        })
    </script>
</body>

</html>
<!-- 总结
v-if指令作用：根据表达式的真假切换元素的显示状态
本质是通过操纵dom元素来切换显示状态
表达式的值为true,元素存在于dom树中，为false,从dom树中移除
频繁地切换<v-show>，反之使用<v-if>，前者的切换消耗小 -->